/* body {
  
  /* background-color: #2234ae;
  background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
 */
/* 
  background-color: #182b3a;
background-image: linear-gradient(315deg, #182b3a 0%, #20a4f3 74%); */


  /* color: wheat; */


.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.home-page-header {
  text-align: center;
  margin-bottom: 50px;
}

.home-page-images {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  height: 70vh;
  gap: 15px;
  width: 80%;
  margin-bottom: 50px;
}

.home-page-images img {

  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 4%;
  -webkit-border-radius: 4%;
  -moz-border-radius: 4%;
  -ms-border-radius: 4%;
  -o-border-radius: 4%;
}

.home-page-quote {
  text-align: center;
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
}